body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="number"] {
  width: 380px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

button {
  display: inline-block;
  width: 196px;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 1.77px;
}

button:hover {
  background-color: #409a42;
}

#result,
#logic {
  margin-top: 10px;
  font-weight: bold;
}
